
.search-query:focus {
    box-shadow: none !important;
    outline: none !important;
}

.search_container {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-main {
    background-color: #0791d0;
    color: #ffffff;
}

.ui-autocomplete {
    width: 445px !important;
    background-color: #fff;
}

.highlight-autocomplete {
    color: #0791d0;
}