<?xml version="1.0"?>
<configuration>
  <system.web>

    <pages validateRequest="false">
      <namespaces>
        <add namespace="CodeUtility"/>
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="40960" requestLengthDiskThreshold="41943040" requestValidationMode="2.0" />
    <!--40960kb = 40Mb-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx"/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
